<div class="container">

  <h1 class="text-center">Cocktails</h1>
  <p class="text-center">All cocktails in our server!</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @cocktails.each do |cocktail| %>
        <tr>
          <td><p><%= cocktail.id %></p></td>
          <td><p><%= cocktail.name %></p></td>
          <td><p><%= link_to( "view", cocktail_path(cocktail)) %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
